<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="admin" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network host="smtp.gmail.com" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>